body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    background: url(../assets/stardew.jpg);
    background-size: 1770px 850px;
    background-repeat: no-repeat;
    background-position: 0ch;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(60, 199, 146);
}

.main-section {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


h2 {
    font-size: 40px;
    font-family: 'Hanalei Fill', cursive;
}
.info {
    font-family: 'Russo One', sans-serif;
font-size: 10px;
}

.remaining-guesses {
    font-family: 'Russo One', sans-serif;
}

.feedback-space {
    font-size: 27px;
    font-family: 'Russo One', sans-serif;
    color: rgb(85, 25, 80);
}